.bg {
  background-color: "#7CAEAF";
  background-image: url("./images/bg.jpg");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.boarder {
  border: 30px solid #edf974;
  text-align: justify;
}
.bgcolor {
  background-color: #7caeaf;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron {
  background-color: #181b24;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.background {
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
}
